body {
  background: url(../images/classroom.jpg)  no-repeat center center fixed;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover
  
}

.jumbotron, .card {
  background-size:cover;
  background-color: rgba(100,100,100, 0.5);
color: inherit;
}

button{
font-weight: bold;
  font-size: 20px;
/* background-image: -webkit-linear-gradient(15deg, #ff0000, #070707);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;*/
-webkit-animation: hue 10s infinite linear; 

background-size:cover;
  background-color: rgba(165, 3, 3, 0.5);
color: inherit;
}


.tittle-game{
  font-size: 50px;
}


p, h1, h2, h3, h4, h5, h6{
  font-weight: bold;
  font-size: 20px;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 50s infinite linear;
}



@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(360deg);
  }
}

.image-fluid {
  max-width: 100%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}